.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  .input-row input {
    width: 250px;
  }
  .label {
    display: flex;
    width: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #333333;
    margin-right: 20px;
    text-align: justify;

  }
  
  .label1 {
    width: 100%;
    text-align-last: justify;
  }
  
  .label2 {
    font-size: 10px;
  }
  .input-box {
    flex: 1;
    height: 30px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #3498db;
    border-radius: 5px;
  }
  
  .register-row {
    margin-bottom: 20px;
  }
  
  .register-link {
    display: flex;
    justify-content: flex-end;
  }
  
  .register-text {
    font-size: 14px;
    color: #3498db;
    cursor: pointer;
  }
  
  .login-button {
    width: 150px;
    height: 40px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }