.wholePage{
	height: 999999999px;
}
.toolMaintainStatusUpdate_bigbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .toolMaintainStatusUpdate_linebox{
    display: flex;
    width: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .toolMaintainStatusUpdate_input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
    width: 100%;
  }
  .toolMaintainStatusUpdate_label {
    display: flex;
    /* flex-basis: 30%; */
    width: 150px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #333333;
    margin-right: 20px;
    text-align: justify;
    /* text-align-last: justify; */
  }
  .toolMaintainStatusUpdate_label1{
    width: 100%;
    text-align-last: justify;
  }
  .toolMaintainStatusUpdate_label2{
    font-size: 10px;
  }
  
  .toolMaintainStatusUpdate_input {
    flex-basis: 40%;
    justify-content: top;
    align-self: start;
    width: 150px;
    height: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px;
    text-align: center;
  }
  .toolMaintainStatusUpdate_materialnameoptions{
    /* display: flex;  */
    /* position: absolute; */
    /* height: 480rpx; */
    /* margin-top: 124rpx; */
    flex-direction: column;
    width: 300rpx;
    /* height: auto; */
    background-color: #FBFAFA;
    z-index: 99999999;
    text-align: center;
    overflow:scroll;
    border: 1rpx solid #BBBBBB;
    border-radius: 20rpx;
    /* white-space:nowrap; */
  }
  .toolMaintainStatusUpdate_materialname{
    width: 100%;
    height: 40rpx;
      line-height: 40rpx;
      font-size: 13px;
  }
  .toolMaintainStatusUpdate{
    width: 150px;
  }
  
  .toolMaintainStatusUpdate_picker {
    flex-basis: 40%;
    width: 130px;
      height: 20px;
      line-height: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px;
  }
  .toolMaintainStatusUpdate_picker-content1 {
     font-size: 13px;
    
    text-align: center;
    line-height: 20px;
    color: #808080;
  }
  
  .toolMaintainStatusUpdate_picker-content {
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: 20px;
  }
  .toolMaintainStatusUpdate_checkBtn{
    display: flex;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
  }
  .toolMaintainStatusUpdate_bigtempbox{
    display: flex;
    flex-direction: column;
    /* margin-top: 10px; */
      width: 100%;
      font-size: 11px;
    /* border: 2px solid #dce9ee; */
    /* border-radius: 30rpx; */
  }
  
  
  .toolMaintainStatusUpdate_tempbox1{
    display: flex;
    flex-direction: row;
    /* margin-top: 6rpx; */
      width: 100%;
    /* border: 2px solid #dce9ee; */
    /* border-radius: 30rpx; */
    background-color: #3498db;
    color: #fff;
  }
  .toolMaintainStatusUpdate_tempbox2{
    display: flex;
    flex-direction: row;
    /* margin-top: 6rpx; */
      width: 100%;
    /* border: 2px solid #dce9ee; */
    /* border-radius: 30rpx; */
  }
  .toolMaintainStatusUpdate_endErrorContainer{
      display: flex;
    flex-direction: row;
    /* margin-top: 6rpx; */
      width: 100%;
      border-bottom: 1px solid #ceedfc;
  }
  .toolMaintainStatusUpdate_columnbox1{
    width: 10%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #fafbfc;
  }
  .toolMaintainStatusUpdate_columnbox2{
    width: 7%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #fafbfc;
  }
  .toolMaintainStatusUpdate_columnbox3{
    width: 5%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #fafbfc;
  }
  .toolMaintainStatusUpdate_columnbox4{
    width: 5%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #fafbfc;
  }
  .toolMaintainStatusUpdate_columnbox5{
    width: 5%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #fafbfc;
  }
  .toolMaintainStatusUpdate_columnbox6{
    width: 20%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #fafbfc;
  }
  .toolMaintainStatusUpdate_columnbox7{
    width: 6%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #fafbfc;
  }
  .toolMaintainStatusUpdate_columnbox8{
    width: 6%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #fafbfc;
  }
  .toolMaintainStatusUpdate_columnbox9{
    width: 20%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #fafbfc;
  }
  .toolMaintainStatusUpdate_columnbox10{
    width: 5%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #fafbfc;
  }
  .toolMaintainStatusUpdate_columnbox11{
    width: 6%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #fafbfc;
  }
  .toolMaintainStatusUpdate_columnbox12{
    width: 5%;
    display: flex;
    flex-direction: column;
  
  }

  .toolMaintainStatusUpdate_title{
    
    width: 100%;
    height: auto;
      text-align: center;
      overflow-wrap: break-word;
      align-items: center;
    /* border-left: 1rpx solid white; */
    /* border-right: 1rpx solid white; */

  }
  .toolMaintainStatusUpdate_content{
    width: 100%;
    height: auto;
    overflow-wrap: break-word; 
    /* line-height: 50rpx; */
    align-items: center;
      text-align: center;
 
  }
  .toolMaintainStatusUpdate_content1{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow-wrap: break-word; 
    /* line-height: 50rpx; */
    align-items: center;
      text-align: center;
    background-color: red;
  }
  .toolMaintainStatusUpdate_content2{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow-wrap: break-word; 
    /* line-height: 50rpx; */
    align-items: center;
      text-align: center;
    background-color: yellow;
  }
  .toolMaintainStatusUpdate_content3{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow-wrap: break-word; 
    /* line-height: 50rpx; */
    align-items: center;
      text-align: center;
    background-color: green;
  }
  .toolMaintainStatusUpdate_delBtn{
  	width: 5%;
  display: flex;
	flex-direction: column;
	background-color: #c2e6f7;
	margin-left: 3px;
	margin-right: 3px;
      }
      .delBtn1{
      display: none;
      }
  
  
  
  