.querySupplypage_bigbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .querySupplypage_linebox{
    display: flex;
    width: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .querySupplypage_input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
    width: 100%;
  }
  .querySupplypage_label {
    display: flex;
    /* flex-basis: 30%; */
    width: 150px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #333333;
    margin-right: 20px;
    text-align: justify;
    /* text-align-last: justify; */
  }
  .querySupplypage_label1{
    width: 100%;
    text-align-last: justify;
  }
  .querySupplypage_label2{
    font-size: 10px;
  }
  
  .querySupplypage_input {
    flex-basis: 40%;
    justify-content: top;
    align-self: start;
    width: 150px;
    height: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px;
    text-align: center;
  }
  .querySupplypage_materialnameoptions{
    /* display: flex;  */
    /* position: absolute; */
    /* height: 480rpx; */
    /* margin-top: 124rpx; */
    flex-direction: column;
    width: 300rpx;
    /* height: auto; */
    background-color: #FBFAFA;
    z-index: 99999999;
    text-align: center;
    overflow:scroll;
    border: 1rpx solid #BBBBBB;
    border-radius: 20rpx;
    /* white-space:nowrap; */
  }
  .querySupplypage_materialname{
    width: 100%;
    height: 40rpx;
      line-height: 40rpx;
      font-size: 13px;
  }
  
  .querySupplypage_picker {
    flex-basis: 40%;
    width: 130px;
      height: 20px;
      line-height: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px;
  }
  .querySupplypage_picker-content1 {
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    color: #808080;
  }
  
  .querySupplypage_picker-content {
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: 20px;
  }
  .querySupplypage_checkBtn{
    display: flex;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    margin-top: 10px;
  }
  .querySupplypage_bigtempbox{
    display: flex;
    flex-direction: column;
    margin-top: 10rpx;
      width: 100%;
      font-size: 11px;
    /* border: 2px solid #dce9ee; */
    /* border-radius: 30rpx; */
  }
  
  
  .querySupplypage_tempbox{
    display: flex;
    flex-direction: row;
    /* margin-top: 6rpx; */
      width: 100%;
    /* border: 2px solid #dce9ee; */
    /* border-radius: 30rpx; */
  }
  .querySupplypage_endErrorContainer{
      display: flex;
    flex-direction: row;
    /* margin-top: 6rpx; */
      width: 100%;
  }
  .querySupplypage_columnbox1{
    width: 30%;
    display: flex;
    flex-direction: column;
  
  }
  .querySupplypage_columnbox2{
    width: 12%;
    display: flex;
    flex-direction: column;
  
  }
  .querySupplypage_columnbox3{
    width: 8%;
    display: flex;
    flex-direction: column;
  
  }
  .querySupplypage_columnbox4{
    width: 8%;
    display: flex;
    flex-direction: column;
  
  }
  .querySupplypage_columnbox5{
    width: 12%;
    display: flex;
    flex-direction: column;
  
  }
  .querySupplypage_columnbox6{
    width: 20%;
    display: flex;
    flex-direction: column;
  
  }
  .querySupplypage_columnbox7{
    width: 10%;
    display: flex;
    flex-direction: column;
  
  }
  .querySupplypage_title{
    background-color: #c7e8f7;
    width: 100%;
    height: 25px;
    line-height: 25px;
      text-align: center;
    border-left: 3rpx solid white;
    border-right: 3rpx solid white;
    /* margin-top: 3rpx; */
  }
  .querySupplypage_content{
    width: 100%;
    height: 60px;
    overflow-wrap: break-word; 
    /* line-height: 50rpx; */
      text-align: center;
      border-bottom: 1rpx solid #c7e8f7;
  }
  .querySupplypage_delBtn{
      display: flex;
      /* align-items: center; */
      justify-content: center;
      /* height: 130rpx;
      line-height: 130rpx; */
      margin: 10rpx;
      /* padding: 10rpx; */
      width: 90rpx;
      margin-right: 5rpx;
      margin-left: 10rpx;
      border: 2rpx solid rgba(187, 187, 187, 100);
      border-radius: 20rpx;
      /* margin-top: 14rpx; */
      background-color:  	 	#F5F5F5;
      align-items: center;
      }
      .delBtn1{
      display: none;
      }
  
  
  
  